
h1 {
    margin-top: 30px;
}

.booking-container {
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.delete-button, .update-button {
    margin-top: 10px;
    padding: 3px;
    width: 100px;
   
}

.booking-details {
    margin: 10px;
    color: antiquewhite;
    background-color:#2a3b2a;
    flex-basis: 33%;
    min-width: 270px;
    border: 2px solid antiquewhite ;
    border-radius: 5px;
    padding: 20px;
}

.customer-details {
    padding: 20px;

    h4 {
        text-decoration: underline;
    }
}

.input-guests {
    width: 70px;
}

.guest-label, .input-guests {
    text-align: center;

}


.input-date, .input-guests, .select{
    color:#2a3b2a;
    font-size: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    font-family: "Old Standard TT", serif;
    background-color: antiquewhite;

    &:disabled{
        font-weight: bold;
        color: antiquewhite;
        border: none;
        background-color:#2a3b2a;
    }

}


.input-date, .input-guests {
    height: 5px;
}

.select {
    height: 28px;
}

.loader {

    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border: 10px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

