.wrapper {
  background-color: #023020;
  padding: 10px 5px;
}

.footer {
  display: flex;
  align-items: center;

  .adress,
  .open-hours,
  .links {
    flex-direction: column;
    justify-content: center;
    width: 33%;
    height: 25vh;
  }
}

.copy {
  font-size: 12px;
}

@media (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
}
