.navigation {
    background-color: #023020;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.nav-ul a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    margin: 40px;
}

.nav-ul a:hover {
    // color: rgb(137, 201, 137)
    color: rgb(116, 87, 87)
}

.navigation img {
    margin-left: 30px;
}