.home-split {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.home-split img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    padding: 20px;
}

.home-split h2 {
    position: absolute;
    font-size: 40px;
    font-family: fantasy;
    color: antiquewhite;
    padding: 30px;
}

.home-btn {
    position: absolute;
    // margin-top: 200px;
    // margin-left: 50px;
    transform: translate(40%, 250px);
    width: 200px;
    height: 50px;
}