
* {
    margin: 0;
}

#root {
  // max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


body {
  font-family:"Old Standard TT", serif;
  line-height: 1.5;
   color: antiquewhite;
  background-color: #2a3b2a;
}

a {
  color: antiquewhite;
  
}


button {
  display: block;
  width: 150px;
  margin: 15px;
  font-family: "Old Standard TT", serif;
  background: #364f3b;
  border-radius: 5px;
  border: 1px solid antiquewhite;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: -6px;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &:hover {
    background-color: #023020;
  }

}
